/* Your custom styles */
.carousel .carousel-indicators li {
    max-width: 30px;
    height: 10px;
    border-radius: 0% !important;
    cursor: pointer; }
body{
    background-color: azure;
}
.logo{
    position: relative;
    top: 07px;
    left: 0px;
}
.nav1{
    background-color:antiquewhite;
}
.form-control::placeholder{
    color: orange !important;
    opacity: 0.5;
}
.b1{
    background-color: antiquewhite;
    color: orange;
}
.dropdown-menu .b1 a:hover{
    color: orange;
    background-color: greenyellow;
}

.b1 a:hover{
    color:black important;
        cursor:pointer;

    background-color: gray;
    
}
.searchdiv{
    border: 1px solid orange;
}
.div{
    height: 400px;
    width: 100%;
}
.types{
    color: blue;

}
.how_it_work{
    text-decoration: underline;
    
}
.box{
    
    width: 100%;
    background-color: beige;
}
.box1{

    width: 100%;
    background-color: white;
    border-radius: 30px;
}
.learnimg{
    margin-left: 130px;
}
.readmore{
    margin-left: 90px;
}